.body-page-section-selection {
  display: flex;
  margin: auto 20%;
  justify-content: flex-end;
  font-size: $font-size-small;
}

.body-page-section-selection--active {
  margin: auto 1rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.body-page-section-selection--inactive {
  margin: auto 1rem;
  color: black;
  text-decoration: none;
}

.body-page-section-selection-identificator {
  position: relative;
  left: -20%;
  margin: auto;
}

.body-page-section-selection-identificator--active {
  list-style-type: disc;
  color: turquoise;
}

.body-page-section-selection-identificator--inactive {
  list-style-type: circle;
  color: transparent;
}